body{
    font-family: comic sans MS, cursive !important;
    background-image: url(../img/A.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-weight: bold;
}

.hover-text-white-50:hover {
    color: yellow !important;
}

.navbar-brand.nbb-custom {
    margin-left: 0.3rem;
    font-size: 1.8rem;
    font-family: comic sans MS, cursive;
    font-weight: bold !important;
}

.navbar-brand.nbb-custom:hover {
    color: yellow;
}

.btn-cst {
    width: 150px;
    font-family: comic sans MS, cursive !important;
    font-size: large !important;
    font-weight: bold !important;
}

.navbar-nav.nb-cst {
    font-family: comic sans MS, cursive;
    font-size: large;
}

.nav-link:hover {
    color: yellow !important;
}
